/* /css/continue_assistindo.css */

/* Não há estilos de prateleira aqui, pois a página usará a grid principal */

/* Estilo para a mensagem de "Nenhum resultado" */
#no-results {
    color: var(--text-secondary-color);
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: 1.1rem;
}

/* O resto dos estilos (top-bar, grid, card, player) vêm do base.css */